@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

#home-page{
   display:flex;
   flex-direction: column;

}
#header-home-page{
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #870cf7;
 
}
#avatar-home-page{
    display: flex;
    flex-direction: column;
}
#das-home-page{
    background:#1e1f54;
    font-weight:bolder; 
    color:white;
    border-radius: 8px;
    height: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Roboto;

}

#input-home-page{
    border:none;
    height: 30px;
    width: 400px;
    border-radius:9px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 12px;
    letter-spacing: -.03em;
    font-weight: 400;
}

section#all-student-home-page{
    display: flex;
    flex-direction: column;
    max-width: 1199px;
    margin-top: 10px;
    padding: 0 30px;

}
#option-student-home-page{
    border-right: 2px solid #d3d3d3;
    height: 78vh;
   
}

#perfil-student-home-page{
    display:flex;
    justify-content:space-between;
}
#perfil-student-home-page li:hover{
   background: #719ECE;
   color:white;

}
#perfil-student-home-page li.select{
    background: #719ECE;
    color:white;
}
#perfil-student-home-page li{
    list-style:none;
    margin-bottom:10px;
    margin-right: 10px;
    background: white;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333;
    font-size: 13px;
    font-family: Roboto;
    letter-spacing: -.03em;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 3s;
    
}

#students{
    display: flex;
    margin-left: 10px;
    align-items: center;
    background: white;
    width: 250px;
    height: 40px;
    border-radius: 4px;
    font-size: 12px;
    font-family: Roboto;
    letter-spacing: -.03em;
    font-weight: 700;
    margin-bottom: 10px;
    justify-content: space-between;
   
}
#borda{
    border: 2px solid rgb(102, 197, 98);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    color:rgb(102, 197, 98);
    justify-content: center;
    align-items: center;
}

.sp{
    color:#333;
    padding: 10px;
}